In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('./dataset/seoul_2016.csv', encoding='cp949')

df.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2016,11650,서초구,10800,서초동,1.0,대지,1599,2.0,엘지서초에클라트,...,30000,41.55,55.17,22.0,NaN,NaN,2004.0,오피스텔,NaN,NaN
1,2016,11650,서초구,10800,서초동,1.0,대지,1337,14.0,이즈타워,...,27850,38.36,48.84,9.0,NaN,NaN,2006.0,오피스텔,NaN,NaN
2,2016,11215,광진구,10500,자양동,1.0,대지,853,0.0,한화꿈에그린,...,60000,84.61,0.00,9.0,NaN,NaN,2006.0,아파트,NaN,NaN
3,2016,11590,동작구,10500,흑석동,1.0,대지,232,55.0,흑석뉴타운 롯데캐슬 에듀포레,...,77500,84.99,0.00,14.0,분양권,NaN,0.0,아파트,NaN,NaN
4,2016,11650,서초구,10800,서초동,NaN,NaN,NaN,NaN,NaN,...,167000,220.32,166.00,NaN,NaN,NaN,1983.0,단독다가구,NaN,NaN

In [7]:
df_1 = df.loc[ : , ['자치구명', '법정동명', '건물면적(㎡)', '층', 
                    '건물용도', '물건금액(만원)', '건물명', '접수연도']].copy()
df_1.head()

  자치구명 법정동명  건물면적(㎡)     층   건물용도  물건금액(만원)              건물명  접수연도
0  서초구  서초동    41.55  22.0   오피스텔     30000         엘지서초에클라트  2016
1  서초구  서초동    38.36   9.0   오피스텔     27850             이즈타워  2016
2  광진구  자양동    84.61   9.0    아파트     60000           한화꿈에그린  2016
3  동작구  흑석동    84.99  14.0    아파트     77500  흑석뉴타운 롯데캐슬 에듀포레  2016
4  서초구  서초동   220.32   NaN  단독다가구    167000              NaN  2016

In [8]:
print(df_1.건물용도)

0          오피스텔
1          오피스텔
2           아파트
3           아파트
4         단독다가구
          ...
209615    단독다가구
209616     오피스텔
209617      아파트
209618      아파트
209619      아파트
Name: 건물용도, Length: 209620, dtype: object

In [9]:
mask1 = (df_1.건물용도 == '아파트')
df_1_mask = df_1.loc[mask1,  :]
print(df_1_mask.head(5))

  자치구명 법정동명  건물면적(㎡)     층 건물용도  물건금액(만원)              건물명  접수연도
2  광진구  자양동    84.61   9.0  아파트     60000           한화꿈에그린  2016
3  동작구  흑석동    84.99  14.0  아파트     77500  흑석뉴타운 롯데캐슬 에듀포레  2016
5   중구  신당동   114.88   1.0  아파트     66600             남산타운  2016
6  강서구  방화동    59.89  11.0  아파트     37300               현대  2016
8  노원구  중계동    59.88  11.0  아파트     30500            중계3벽산  2016

In [ ]:
apt1 = apt.rename(columns={'법정동명':'동이름', '물건금액(만원)':'거래가격(만원)', '층':'층정보'})
apt1.set_index(['자치구명','동이름'], inplace=True)
apt1.head()

In [21]:
건물면적_to_평수 = 1 * 0.3025 #평수 작업 줄
apt1['평수'] = apt1['건물면적(㎡)'] * 건물면적_to_평수 #평수 column 으로 만들고
# print(apt1_sorted.head())
# print()
apt1['평수'] = apt1['평수'].round(0)
apt1

          건물면적(㎡)   층정보 건물용도  거래가격(만원)              건물명  접수연도    평수
자치구명 동이름
광진구  자양동    84.61   9.0  아파트     60000           한화꿈에그린  2016  26.0
동작구  흑석동    84.99  14.0  아파트     77500  흑석뉴타운 롯데캐슬 에듀포레  2016  26.0
중구   신당동   114.88   1.0  아파트     66600             남산타운  2016  35.0
강서구  방화동    59.89  11.0  아파트     37300               현대  2016  18.0
노원구  중계동    59.88  11.0  아파트     30500            중계3벽산  2016  18.0
...           ...   ...  ...       ...              ...   ...   ...
광진구  자양동    59.88   4.0  아파트     39400            자양현대5  2016  18.0
서초구  잠원동    54.03   6.0  아파트     48000            신반포10  2016  16.0
용산구  후암동   100.83   2.0  아파트     58000          힐튼빌리지1차  2016  31.0
서초구  서초동   118.09   2.0  아파트     45000            그린빌라트  2016  36.0
용산구  한남동   129.06   3.0  아파트     86000          한남힐스테이트  2016  39.0

[120934 rows x 7 columns]

In [22]:
apt1_sorted = apt1.sort_values(by = ['거래가격(만원)'])

In [23]:
apt1_sorted

            건물면적(㎡)   층정보 건물용도  거래가격(만원)          건물명  접수연도    평수
자치구명 동이름
영등포구 당산동1가    68.88  10.0  아파트      1100          코오롱  2016  21.0
서대문구 북아현동     84.91   1.0  아파트      3000        북아현경남  2016  26.0
동대문구 휘경동      84.31  11.0  아파트      3242  휘경 SK VIEW   2016  26.0
광진구  구의동      13.27   6.0  아파트      5000       강변힐하우스  2016   4.0
     구의동      13.27   3.0  아파트      5000       강변힐하우스  2016   4.0
...             ...   ...  ...       ...          ...   ...   ...
용산구  한남동     243.20   1.0  아파트    650000         한남더힐  2016  74.0
성동구  성수동1가   271.83  44.0  아파트    660000      갤러리아 포레  2016  82.0
용산구  한남동     243.64   1.0  아파트    719700         한남더힐  2016  74.0
     한남동     244.75   3.0  아파트    760000         한남더힐  2016  74.0
     한남동     244.78   3.0  아파트    790000         한남더힐  2016  74.0

[120934 rows x 7 columns]

In [25]:
columns_sorted = apt1_sorted[['건물명', '건물용도', '층정보', '거래가격(만원)',
                              '평수', '건물면적(㎡)' ]]
columns_sorted

                    건물명 건물용도   층정보  거래가격(만원)    평수  건물면적(㎡)
자치구명 동이름
영등포구 당산동1가          코오롱  아파트  10.0      1100  21.0    68.88
서대문구 북아현동         북아현경남  아파트   1.0      3000  26.0    84.91
동대문구 휘경동    휘경 SK VIEW   아파트  11.0      3242  26.0    84.31
광진구  구의동         강변힐하우스  아파트   6.0      5000   4.0    13.27
     구의동         강변힐하우스  아파트   3.0      5000   4.0    13.27
...                 ...  ...   ...       ...   ...      ...
용산구  한남동           한남더힐  아파트   1.0    650000  74.0   243.20
성동구  성수동1가      갤러리아 포레  아파트  44.0    660000  82.0   271.83
용산구  한남동           한남더힐  아파트   1.0    719700  74.0   243.64
     한남동           한남더힐  아파트   3.0    760000  74.0   244.75
     한남동           한남더힐  아파트   3.0    790000  74.0   244.78

[120934 rows x 6 columns]

In [26]:
columns_sorted.to_csv('APT2016.csv')