In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv('./dataset/seoul_2019.csv', encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130272 entries, 0 to 130271
Data columns (total 19 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   실거래가아이디"  130272 non-null  object
 1   지번코드      130272 non-null  object
 2   시군구코드     130272 non-null  int64
 3   자치구명      130272 non-null  object
 4   법정동코드     130272 non-null  int64
 5   법정동명      130272 non-null  object
 6   신고년도      130272 non-null  int64
 7   업무구분코드    130272 non-null  int64
 8   업무구분      130272 non-null  object
 9   물건번호      130272 non-null  int64
 10  대지권면적     123386 non-null  float64
 11  건물면적      130272 non-null  float64
 12  관리구분코드    130272 non-null  object
 13  층정보       120548 non-null  float64
 14  건물주용도코드   130272 non-null  int64
 15  건물주용도     130272 non-null  object
 16  물건금액      130272 non-null  int64
 17  건축년도      130078 non-null  float64
 18  건물명       120548 non-null  object
dtypes: float64(4), int64(7), object(8)
memory usage: 18.9+ MB

C:\Users\borishasha\AppData\Local\Temp\ipykernel_11872\1473415494.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./dataset/seoul_2019.csv', encoding='cp949')

In [25]:
df_1 = df.loc[:, ['자치구명','법정동명','건물면적','층정보','물건금액','건물주용도','건물명']].copy()
print(df_1)

        자치구명   법정동명    건물면적   층정보        물건금액 건물주용도       건물명
0         중구  만리동2가   84.97  15.0  1390000000   아파트  서울역센트럴자이
1         중구  만리동2가   59.94   8.0   950000000   아파트  서울역센트럴자이
2         중구  만리동2가   84.97  15.0  1345000000   아파트  서울역센트럴자이
3         중구  만리동2가   59.94  11.0  1138000000   아파트  서울역센트럴자이
4         중구    신당동   59.94  18.0   785000000   아파트      남산타운
...      ...    ...     ...   ...         ...   ...       ...
130267   금천구    독산동  234.57   NaN   862000000  단독주택       NaN
130268   금천구    시흥동  168.26   NaN   688500000  단독주택       NaN
130269  영등포구    신길동  158.76   NaN   970000000  단독주택       NaN
130270  영등포구    신길동  182.46   NaN   895000000  단독주택       NaN
130271  영등포구    신길동   29.75   NaN   265000000  단독주택       NaN

[130272 rows x 7 columns]

In [26]:
mask1 = (df_1.건물주용도 == "아파트")
df_apt = df_1.loc[mask1, :]
print(df_apt.head())

  자치구명   법정동명   건물면적   층정보        물건금액 건물주용도       건물명
0   중구  만리동2가  84.97  15.0  1390000000   아파트  서울역센트럴자이
1   중구  만리동2가  59.94   8.0   950000000   아파트  서울역센트럴자이
2   중구  만리동2가  84.97  15.0  1345000000   아파트  서울역센트럴자이
3   중구  만리동2가  59.94  11.0  1138000000   아파트  서울역센트럴자이
4   중구    신당동  59.94  18.0   785000000   아파트      남산타운

In [27]:
df_apt2 = df_apt.rename(columns = {'물건금액':'거래가격(만원)','건물주용도' : '건물용도', '법정동명':'동이름', '건물면적': '건물면적(㎡)'})

In [28]:
df_apt2 = df_apt2.set_index(['자치구명', '동이름'])
print(df_apt2)

            건물면적(㎡)   층정보    거래가격(만원) 건물용도             건물명
자치구명 동이름
중구   만리동2가    84.97  15.0  1390000000  아파트        서울역센트럴자이
     만리동2가    59.94   8.0   950000000  아파트        서울역센트럴자이
     만리동2가    84.97  15.0  1345000000  아파트        서울역센트럴자이
     만리동2가    59.94  11.0  1138000000  아파트        서울역센트럴자이
     신당동      59.94  18.0   785000000  아파트            남산타운
...             ...   ...         ...  ...             ...
송파구  장지동      51.77  10.0   840000000  아파트    위례24단지(꿈에그린)
     풍납동      59.26   9.0   790000000  아파트            한강극동
     방이동      84.96   1.0  1660000000  아파트     올림픽선수기자촌1단지
강동구  길동       14.12   3.0   205000000  아파트        경지 Arium
     고덕동      59.23  18.0  1045000000  아파트  고덕래미안 힐스테이트아파트

[69374 rows x 5 columns]

In [29]:
aa= 1 * 0.3025
df_apt2['평수'] = df_apt2['건물면적(㎡)'] * aa 
df_apt2

            건물면적(㎡)   층정보    거래가격(만원) 건물용도             건물명         평수
자치구명 동이름
중구   만리동2가    84.97  15.0  1390000000  아파트        서울역센트럴자이  25.703425
     만리동2가    59.94   8.0   950000000  아파트        서울역센트럴자이  18.131850
     만리동2가    84.97  15.0  1345000000  아파트        서울역센트럴자이  25.703425
     만리동2가    59.94  11.0  1138000000  아파트        서울역센트럴자이  18.131850
     신당동      59.94  18.0   785000000  아파트            남산타운  18.131850
...             ...   ...         ...  ...             ...        ...
송파구  장지동      51.77  10.0   840000000  아파트    위례24단지(꿈에그린)  15.660425
     풍납동      59.26   9.0   790000000  아파트            한강극동  17.926150
     방이동      84.96   1.0  1660000000  아파트     올림픽선수기자촌1단지  25.700400
강동구  길동       14.12   3.0   205000000  아파트        경지 Arium   4.271300
     고덕동      59.23  18.0  1045000000  아파트  고덕래미안 힐스테이트아파트  17.917075

[69374 rows x 6 columns]

In [30]:
df_apt2_sorted = df_apt2.sort_values(by = ['자치구명','동이름'])

In [31]:
df_apt2_sorted

          건물면적(㎡)   층정보    거래가격(만원) 건물용도         건물명         평수
자치구명 동이름
강남구  개포동    84.83  33.0  2036600000  아파트  래미안 강남포레스트  25.661075
     개포동    84.36  17.0  2400000000  아파트    디에이치아너힐즈  25.518900
     개포동    59.75   3.0  1650000000  아파트    디에이치아너힐즈  18.074375
     개포동    84.36   2.0  2250000000  아파트    디에이치아너힐즈  25.518900
     개포동    76.17  15.0  2340000000  아파트    디에이치아너힐즈  23.041425
...           ...   ...         ...  ...         ...        ...
중랑구  중화동    50.37  22.0   394000000  아파트        한신1차  15.236925
     중화동    59.76   9.0   469000000  아파트        한신1차  18.077400
     중화동    84.84  10.0   463000000  아파트       태능에셈빌  25.664100
     중화동    59.76   5.0   457000000  아파트        한신1차  18.077400
     중화동    50.37  16.0   380000000  아파트        한신1차  15.236925

[69374 rows x 6 columns]

In [33]:
df_apt3 = df_apt2_sorted
df_apt3

          건물면적(㎡)   층정보    거래가격(만원) 건물용도         건물명         평수
자치구명 동이름
강남구  개포동    84.83  33.0  2036600000  아파트  래미안 강남포레스트  25.661075
     개포동    84.36  17.0  2400000000  아파트    디에이치아너힐즈  25.518900
     개포동    59.75   3.0  1650000000  아파트    디에이치아너힐즈  18.074375
     개포동    84.36   2.0  2250000000  아파트    디에이치아너힐즈  25.518900
     개포동    76.17  15.0  2340000000  아파트    디에이치아너힐즈  23.041425
...           ...   ...         ...  ...         ...        ...
중랑구  중화동    50.37  22.0   394000000  아파트        한신1차  15.236925
     중화동    59.76   9.0   469000000  아파트        한신1차  18.077400
     중화동    84.84  10.0   463000000  아파트       태능에셈빌  25.664100
     중화동    59.76   5.0   457000000  아파트        한신1차  18.077400
     중화동    50.37  16.0   380000000  아파트        한신1차  15.236925

[69374 rows x 6 columns]

In [34]:
aa = 1 * 0.3025
df_apt3['건물면적'] = df_apt3['건물면적(㎡)'] * aa
df_apt3

          건물면적(㎡)   층정보    거래가격(만원) 건물용도         건물명         평수       건물면적
자치구명 동이름
강남구  개포동    84.83  33.0  2036600000  아파트  래미안 강남포레스트  25.661075  25.661075
     개포동    84.36  17.0  2400000000  아파트    디에이치아너힐즈  25.518900  25.518900
     개포동    59.75   3.0  1650000000  아파트    디에이치아너힐즈  18.074375  18.074375
     개포동    84.36   2.0  2250000000  아파트    디에이치아너힐즈  25.518900  25.518900
     개포동    76.17  15.0  2340000000  아파트    디에이치아너힐즈  23.041425  23.041425
...           ...   ...         ...  ...         ...        ...        ...
중랑구  중화동    50.37  22.0   394000000  아파트        한신1차  15.236925  15.236925
     중화동    59.76   9.0   469000000  아파트        한신1차  18.077400  18.077400
     중화동    84.84  10.0   463000000  아파트       태능에셈빌  25.664100  25.664100
     중화동    59.76   5.0   457000000  아파트        한신1차  18.077400  18.077400
     중화동    50.37  16.0   380000000  아파트        한신1차  15.236925  15.236925

[69374 rows x 7 columns]

In [2]:
apt19 = df_apt3[['건물명', '건물용도', '층정보', '거래가격(만원)', '평수', '건물면적(㎡)']]

NameError: name 'df_apt3' is not defined

In [1]:
apt19

NameError: name 'df_apt3' is not defined

In [ ]:
apt18_sorted_1.to_csv('APT2018.csv')