In [1]:
import folium
import pandas as pd

In [2]:
seoul_apt_map = pd.read_csv('./dataset/seoul_apt_map.csv', encoding='cp949')
seoul_apt_map

      년도  거래가격(만원)      건물명         위도          경도
0   2016    790000     한남더힐  37.536819  127.009504
1   2016    760000     한남더힐  37.536819  127.009504
2   2016    719700     한남더힐  37.536819  127.009504
3   2016    660000  갤러리아 포레  37.545656  127.042471
4   2016    650000     한남더힐  37.536819  127.009504
..   ...       ...      ...        ...         ...
65  2022    880000  갤러리아 포레  37.545656  127.042471
66  2022    870000    타워팰리스  37.489689  127.054093
67  2022    850000     한남더힐  37.536819  127.009504
68  2022    850000     한남더힐  37.536819  127.009504
69  2022    850000    나인원한남  37.536302  127.003454

[70 rows x 5 columns]

In [3]:
seoul = seoul_apt_map.drop(['년도','거래가격(만원)'], axis = 1).copy()

In [4]:
seoul.dtypes

건물명     object
위도     float64
경도     float64
dtype: object

In [5]:
seoul.set_index('건물명', inplace=True)
seoul.head()

                위도          경도
건물명
한남더힐     37.536819  127.009504
한남더힐     37.536819  127.009504
한남더힐     37.536819  127.009504
갤러리아 포레  37.545656  127.042471
한남더힐     37.536819  127.009504

In [6]:
seoul_apt = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain',
                       zoom_start=12)
seoul_apt.save('./dataset/seoul_apt_map.html')

In [7]:
#지도에 마커 추가하기

for name, lat, lng in zip(seoul.index, seoul.위도, seoul.경도): 
    folium.Marker([lat, lng], popup=name).add_to(seoul_apt)  
    
seoul_apt.save('./dataset/seoul_cooleges.html')

In [8]:
for name, lat, lng in zip(seoul.index, seoul.위도, seoul.경도): 
    folium.CircleMarker( [lat, lng], 
                        radius=10, #원의 반지름
                        color='skyblue', #원의 색
                        fill=True, 
                        fill_color='skyblue', #원을 채우는색 
                        fill_opacity=0.5, #원의 투명소
                        popup=name).add_to(seoul_apt)  #popup 함수중 하나
    
seoul_apt.save('./dataset/rich_people1.html')